<div class="container">
  <div class="text-center py-4 my-4">
    <div class="contents">
      <h1>Hi This is</h1>
      <h1 class="display-3">Oleg Arutin</h1>
      <h2 class="font-italic">Future Web Developer</h2>
    </div>
    <div>
      <a href="https://t.me/oleg_arutin"><img style="cursor: pointer;" src="https://img.icons8.com/nolan/64/telegram-app.png"/></a>
      <a href="#"><img style="cursor: pointer;" src="https://img.icons8.com/nolan/64/google-logo.png"/></a>
      <a href="#"><img style="cursor: pointer;" src="https://img.icons8.com/nolan/64/instagram-new.png"/></a>
    </div>
  </div>
  <div>
    <h1 class="text-center">Hi Guys!</h1>
    <h4>About me</h4>
    <p>My name is Oleg Arutin and I am a Future Web Developer. I enjoy using my skills to solve to the exciting tasks. I graduated from the Uman University of Horticulture in 2021 with a Bachelor's Degree in agronomy. I will get my master's degree in 2023.</p>
    <div>
      <ul>
        <li> Name: Oleg Arutin</li>
        <li> Age: 21 Years</li>
        <li> Education: GeekHub student</li>
        <li> Experience: 0 Years</li>
        <li> Country: UA</li>
        <li> Location: Cherkasy</li>
        <li> e-mail: o1eg.34ac@gmail.com</li>
        <li> Phone: + (00) 123 456 789</li>
      </ul>
    </div>
  </div>
</div>
